In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('spam_ham_dataset.csv', encoding='utf-8')

In [63]:
df.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [64]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [65]:
subjects = []
# bodies = []
for row in df.itertuples():
    text = row.text
    loc = text.find("\n")
    subjects.append(text[0:loc])
    # bodies.append(text[loc:]

In [66]:
df['subject'] = subjects
# df['body'] = bodies

In [67]:
df.head()

,Unnamed: 0,label,text,label_num,subject
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject: enron methanol ; meter # : 988291\r
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"Subject: hpl nom for january 9 , 2001\r"
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,Subject: neon retreat\r
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,"Subject: photoshop , windows , office . cheap ..."
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,Subject: re : indian springs\r

In [68]:
df.to_csv("data.csv")